<div class="table-responsive">
    <input type="text" placeholder="Search posts..." #searchInput (input)="filterPosts(searchInput.value)" class="search-input">
  
    <table>
      <thead>
        <tr>
          <th (click)="sortPosts('id')">ID</th>
          <th (click)="sortPosts('title')">Title</th>
          <th (click)="sortPosts('body')">Content</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of filteredPosts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
        </tr>
      </tbody>
    </table>
  </div>