.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .search-input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
  }

  div {
    display: flex;
    align-items: center;

    label {
      margin-right: 5px;
    }
  }
}


.table-responsive {
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 20px 0;

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
      cursor: pointer;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }
  }

  .pagination-info, select, label {
    margin-top: 10px;
  }

  select {
    margin-left: 5px;
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    table {
      display: block;
    }
  }
}


.pagination-info {
  text-align: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    align-self: center;
  }
}