/* You can add global styles to this file, and also import other style files */
.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  header, footer {
    padding: 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #666;
  }